<% cds.forEach((cd, index) => { %>
    <% index = index+2 %> 
    <div class="modal fade" id="CD-<%= cd.name %>" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <%= cd.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="/cd/edit/<%= cd.name %>" method="post">
                        <label for="image">Image</label>
                        <input class="form-control" type="text" name="image" value="<%= cd.image %>">
                        <label for="env" class="mt-3">Environment variables</label>
                        <a id="addRow<%= index %>" class="btn btn-success btn-block">Add new environment variable</a>
                        <div id="appendRow<%= index %>">
                            <% if (cd.env) { %>                             
                                <% cd.env.forEach((env, indexA) => { %>
                                    <div id="rowR<%= index %><%= indexA %>" class="form-group form-inline mt-3">
                                        <div class="position-relative">
                                            <input name="env" class="form-control m-2" value="<%= env.name %>=<%= env.value %>">
                                            <a type="button" id="envR<%= indexA %>" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
                                        </div>
                                    </div>
                                    <script>
                                        let removeMe<%= index %><%= indexA %> = document.getElementById("envR<%= indexA %>");
                                        removeMe<%= index %><%= indexA %>.addEventListener("click", () => {
                                            document.getElementById("rowR<%= index %><%= indexA %>").remove();
                                        })
                                    </script>
                                <% }) %>
                            <% } %>
                        </div>
                        <label for="env" class="mt-3">Ports</label>
                        <a id="addRow1<%= index %>" class="btn btn-success btn-block">Add new port</a>
                        <div id="appendRow1<%= index %>">
                            <% if (cd.ports) { %>                             
                                <% cd.ports.forEach(port => { %>
                                    <div id="port" class="form-group form-inline mt-3">
                                        <div class="position-relative">
                                            <input name="port" class="form-control m-2" value="<%= port.host  %>:<%= port.container  %>">
                                            <a type="button"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
                                        </div>
                                    </div>                             
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        let addRow<%= index %> = document.getElementById("addRow<%= index %>")
        let appendRow<%= index %> = document.getElementById("appendRow<%= index %>");
        let count<%= index %> = 1;
        addRow<%= index %>.addEventListener("click", () => {
            let newRow = document.createElement("div");
            newRow.innerHTML =
            `<div id="row${count<%= index %>}" class="form-group form-inline mt-3">
                <div class="position-relative">
                    <input name="env" class="form-control m-2" placeholder="NAME=value">
                    <a type="button" id="deleteRow${count<%= index %>}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
                </div>
            </div>`
            appendRow<%= index %>.appendChild(newRow);
            removeButtonListener(`#deleteRow${count<%= index %>}`, `#row${count<%= index %>}`)
            count<%= index %>++
        });
        function removeButtonListener(element, row) {
            document.querySelector(element).addEventListener("click", () => {
                document.querySelector(row).remove();
            });
        }
    </script>
    <script>
        let addRow1<%= index %> = document.getElementById("addRow1<%= index %>")
        let appendRow1<%= index %> = document.getElementById("appendRow1<%= index %>");
        let count1<%= index %> = 1;
        addRow1<%= index %>.addEventListener("click", () => {
            let newRow = document.createElement("div");
            newRow.innerHTML =
            `<div id="port${count1<%= index %>}" class="form-group form-inline mt-3">
                <div class="position-relative">
                    <input required name="port" class="form-control m-2" placeholder="PORT:PORT">
                    <a type="button" id="deleteRow1${count1<%= index %>}"  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
                </div>
            </div>`
            appendRow1<%= index %>.appendChild(newRow);
            removeButtonListener(`#deleteRow1${count1<%= index %>}`, `#port${count1<%= index %>}`)
            count1<%= index %>++
        });
        function removeButtonListener(element, row) {
            document.querySelector(element).addEventListener("click", () => {
                document.querySelector(row).remove();
            });
        }
    </script>
    
<% }) %>