<div class="container mt-3">

    <a class="btn btn-warning" data-toggle="modal" data-target="#createNewCD">Create new CD</a>

    <div class="mt-3">
        <!-- Loop through each here -->
        <!-- Show status on border, aka running etc -->
        <% cds.forEach((cd)=> {%>
          <div id="cd-<%= cd.name %>-card" class="card border-
          <% if (cd.status === "active") { %>
            success
          <% } else if (cd.status === "failed") { %>
            danger
          <% } else if (cd.status === "building") { %>
            info
          <% } %>
          
          mb-3">
            <div class="row no-gutters">
              <div class="col-md-4 p-5">
                <div id="cd-<%= cd.name %>-status">
                  <% if (cd.status === "active") { %>
                    <i class="fas fa-play" style="color: rgb(30, 212, 30)"></i>
                    <p>Running..</p>
                  <% } else if (cd.status === "failed") { %>
                    <i class="fas fa-stop" style="color: red"></i>
                    <p>Stopped</p>
                  <% } else if (cd.status === "building") { %>
                    <i class="fas fa-wrench" style="color: steelblue"></i>
                    <p>Building</p>
                  <% } %>
                </div>
                <!-- These options can it be when stuff is happening on the cd.. 
                <i class="fas fa-pause" style="color: yellow"></i>
                <p>Paused</p>
                -->
                <!-- Show activity here? -->
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= cd.name %></h5>
                  <a class="btn btn-block btn-warning" href="">Edit</a>
                  <a class="btn btn-block btn-danger" href="">Remove</a>
                  <p class="card-text"><small class="text-muted">Webhook endpoint: <%= cd.webhookUrl %></small></p>
                </div>
              </div>
            </div>
          </div>

          <script>
            
            socket.on(`cd-<%= cd.name %>-fail`, (msg) => {
              document.querySelector("#cd-<%= cd.name %>-card").className = "card border-danger mb-3";
              document.querySelector("#cd-<%= cd.name %>-status").innerHTML = `
              <i class="fas fa-stop" style="color: red"></i>
              <p>Stopped</p>
              `;
            });

            socket.on(`cd-<%= cd.name %>-building`, () => {
              document.querySelector("#cd-<%= cd.name %>-card").className = "card border-info mb-3";
              document.querySelector("#cd-<%= cd.name %>-status").innerHTML = `
              <i class="fas fa-wrench" style="color: steelblue"></i>
              <p>Building</p>
              `;
            });

          </script>

        <% }); %>

    </div>

</div>

<%- include("./Modals/Create-New-CD") %>