<div class="container mt-3">
    <div class="d-grid gap-2">
      <a class="btn btn-success" data-toggle="modal" data-target="#createNewCD">Create new CD</a>
    </div>

    <div class="mt-3">
        <!-- Loop through each here -->
        <!-- Show status on border, aka running etc -->
        <% cds.forEach((cd)=> {%>
          <div id="cd-<%= cd.name %>-card" class="position-relative shadow card
          <% if (cd.status === "active") { %>
            border-success
          <% } else if (cd.status === "fail") { %>
            border-danger
          <% } else if (cd.status === "building") { %>
            border-info
          <% } %>
          
          mb-3">
          <!-- For notifications on each emit for this CD -->
          <a id="cd-<%= cd.name %>-emits" data-toggle="modal" data-target="#cd-<%= cd.name %>-logs" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"><%= cd.logs.filter(e => !e.read).length %></a>
          <div class="modal fade" id="cd-<%= cd.name %>-logs" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logs for <%= cd.name %></h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% cd.logs.slice().reverse().forEach((log, index) => { %>
                            <tr>
                              <th><%= index+1 %></th>
                              <td><%= log.msg %></td> 
                              <td><%= log.date.toLocaleString() %></td> 
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>
          <!-- END | For notifications on each emit for this CD -->
          
          <div class="row no-gutters">
              <div class="col-md-4 p-5">
                <div id="cd-<%= cd.name %>-status">
                  <% if (cd.status === "active") { %>
                    <i class="fas fa-play" style="color: rgb(30, 212, 30)"></i>
                    <p>Running..</p>
                  <% } else if (cd.status === "fail") { %>
                    <i class="fas fa-stop" style="color: red"></i>
                    <p>Stopped</p>
                  <% } else if (cd.status === "building") { %>
                    <i class="fas fa-wrench" style="color: steelblue"></i>
                    <p>Building</p>
                  <% } %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= cd.name %></h5>
                  <a class="btn btn-block btn-warning" data-toggle="modal" data-target="#CD-<%= cd.name %>">Edit</a>
                  <button class="btn btn-block btn-danger" onclick="removeCD(`<%= cd.name %>`)">Remove</button>
                  <button class="btn btn-block btn-info" onclick="fetch(`/cd/build/<%= cd.name %>`, {method: 'POST'})">Build container</button>
                  <button class="btn btn-block btn-success" onclick="fetch(`/cd/pull/<%= cd.name %>`, {method: 'POST'})">Pull image</button>
                  <p class="card-text"><small class="text-monospace">Webhook endpoint: <a href="<%= HTTP %>://<%= Domain %><%= Domain === "localhost" ? ":"+Port : "" %>/webhook/<%= cd.webhookUrl %>">
                    <%= HTTP %>://<%= Domain %><%= Domain === "localhost" ? ":"+Port : "" %>/webhook/<%= cd.webhookUrl %>
                  </a> <a title="New WebhookID" class="fas fa-sync text-decoration-none" onclick="newWebhook('<%= cd.name %>')"></a> </small></p>
                </div>
              </div>
            </div>
          </div>

          <script>
            
            socket.on(`cd-<%= cd.name %>-fail`, (msg) => {
              document.querySelector("#cd-<%= cd.name %>-card").className = "card border-danger mb-3";
              document.querySelector("#cd-<%= cd.name %>-status").innerHTML = `
              <i class="fas fa-stop" style="color: red"></i>
              <p>Stopped</p>
              `;
            });

            socket.on(`cd-<%= cd.name %>-active`, () => {
              document.querySelector("#cd-<%= cd.name %>-card").className = "card border-success mb-3";
              document.querySelector("#cd-<%= cd.name %>-status").innerHTML = `
              <i class="fas fa-play" style="color: rgb(30, 212, 30)"></i>
              <p>Running..</p>
              `;
            });

            socket.on(`cd-<%= cd.name %>-building`, () => {
              document.querySelector("#cd-<%= cd.name %>-card").className = "card border-info mb-3";
              document.querySelector("#cd-<%= cd.name %>-status").innerHTML = `
              <i class="fas fa-wrench" style="color: steelblue"></i>
              <p>Building</p>
              `;
            });

            socket.on(`cd-<%= cd.name %>-logs`, (log) => {
              document.querySelector(`#cd-<%= cd.name %>-emits`).innerHTML = parseInt(document.querySelector(`#cd-<%= cd.name %>-emits`).innerHTML)+1
              Toast(log, "warning", `<%= cd.name %>`);
            });

          </script>

        <% }); %>

    </div>

</div>

<!-- Modal for remove CD -->
<div id="divRemoveModal"></div>
<script>
    function removeCD(CD_NAME) {
      document.querySelector("#divRemoveModal").innerHTML = `
      <div class="modal fade" id="removeCDModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to remove this CD ${CD_NAME}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/cd/remove/${CD_NAME}" type="button" class="btn btn-danger">Submit</a>
              </div>
          </div>
        </div>
      </div>`
      $(document).ready(function(){
          $("#removeCDModal").modal('show');
      });
    };
</script>
<div id="divnewWebhookId"></div>
<script>
  function newWebhook(cd)
  {
    document.querySelector("#divnewWebhookId").innerHTML = `
      <div class="modal fade" id="newWebhookId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <form action="/cd/new/webhook/${cd}?_method=put" method="POST">
                <div class="modal-body">
                  Are you sure you want to generate a new webhook id for ${cd}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </form>
          </div>
        </div>
      </div>`
      $(document).ready(function(){
          $("#newWebhookId").modal('show');
      });
  }
</script>

<%- include("./Modals/Create-New-CD") %>
<%- include("./Modals/Edit-CD") %>